[submodule "Linda-Avionics-Code"]
	path = Linda-Avionics-Code
	url = git@github.com:UTSA-ARC/Linda-Avionics-Code.git
[submodule "Linda-Avionics-Hardware"]
	path = Linda-Avionics-Hardware
	url = git@github.com:UTSA-ARC/Linda-Avionics-Hardware.git
[submodule "Linda-Ground-Support"]
	path = Linda-Ground-Support
	url = git@github.com:UTSA-ARC/Linda-Ground-Support.git
[submodule "Linda-Ground-Station-PI"]
	path = Linda-Ground-Station-PI
	url = git@github.com:UTSA-ARC/Linda-Ground-Station-PI.git
