[submodule "Linda-Avionics-Code"]
	path = Linda-Avionics-Code
	url = git@github.com:UTSA-ARC/Linda-Avionics-Code.git
	branch = main
[submodule "Linda-Avionics-Hardware"]
	path = Linda-Avionics-Hardware
	url = git@github.com:UTSA-ARC/Linda-Avionics-Hardware.git
	branch = main
[submodule "Linda-Ground-Support"]
	path = Linda-Ground-Support
	url = git@github.com:UTSA-ARC/Linda-Ground-Support.git
	branch = main
